.calculadora-body{
    width:290px;
    height:415px;
    border:1px solid #eceded;
    border-radius:5px;
}

/* Resultado e histórico */
.resultAndHistory{
    height: 120px;
    width: 100%;
}

input{
    float:right;
}

.history{
    height:30px;
    width:270px;
    margin:10px 10px;
    text-align: right;
    border:none;
    background: transparent;
    color:#f6f6f6;
    font-size:13px;

}
.result{
    height:60px;
    width:270px;
    margin:0px 10px;
    text-align: right;
    border:none;
    position:relative;
    top:-10px;
    font-size:40px;
    font-weight: bold;
    background: transparent;
    color:#fff;
}


/* Números e botões */
.all-buttons-body{
    height:300px;
    width:100%;
    border-top:2px solid #eceded;
    position:relative;
    padding:10px;
    box-sizing: border-box;
    gap: 10px 7px;
    display: grid;
    grid-template-areas:
     "btnlimpar btnlimpar btnretroceder btndividir"
     "number1 number2 number3 btnmultiplicar"
     "number4 number5 number6 btnsubtrair"
     "number7 number8 number9 btnsomar"
     "number0 number0 btnvirgula btnigual"
    ;
    grid-template-rows: 45px 45px 45px 45px 45px;
}

/* Primeira linha */

.btnlimpar{
    grid-area: btnlimpar;
    border:1px solid #fff;
    position:relative;
    top: 3px;
    color:#fff;
    cursor:pointer;
    border-radius: 50px;
    background: transparent;
}

.btnretroceder{
    grid-area: btnretroceder;
    border:1px solid #fff;
    position:relative;
    top:3px;
    color:#fff;
    cursor:pointer;
    border-radius: 50px;
    background: transparent;
}

.btndividir{
    grid-area: btndividir;
    border:1px solid #fff;
    position:relative;
    top:3px;
    color:#fff;
    border-radius: 50px;
    background: transparent;
    cursor:pointer;
}

/****** Segunda linha ******/

.number1{
    grid-area: number1;
    border:1px solid #fff;
    position:relative;
    color:#fff;
    border-radius: 50px;
    background: transparent;
    cursor:pointer;
}

.number2{
    grid-area: number2;
    border:1px solid #fff;
    position:relative;
    color:#fff;
    border-radius: 50px;
    background: transparent;
    cursor:pointer;
}

.number3{
    grid-area: number3;
    border:1px solid #fff;
    position:relative;
    color:#fff;
    border-radius: 50px;
    background: transparent;
    cursor:pointer;
}

.btnmultiplicar{
    grid-area: btnmultiplicar;
    border:1px solid #fff;
    position:relative;
    color:#fff;
    border-radius: 50px;
    background: transparent;
    cursor:pointer;
}

/****** Terceira linha ******/

.number4{
    grid-area: number4;
    border:1px solid #fff;
    position:relative;
    color:#fff;
    border-radius: 50px;
    background: transparent;
    cursor:pointer;
}

.number5{
    grid-area: number5;
    border:1px solid #fff;
    position:relative;
    color:#fff;
    border-radius: 50px;
    background: transparent;
    cursor:pointer;
}

.number6{
    grid-area: number6;
    border:1px solid #fff;
    position:relative;
    color:#fff;
    border-radius: 50px;
    background: transparent;
    cursor:pointer;
}

.btnsubtrair{
    grid-area: btnsubtrair;
    border:1px solid #fff;
    position:relative;
    color:#fff;
    border-radius: 50px;
    background: transparent;
    cursor:pointer;
}

/****** Quarta linha ******/

.number7{
    grid-area: number7;
    border:1px solid #fff;
    position:relative;
    color:#fff;
    border-radius: 50px;
    background: transparent;
    cursor:pointer;
}

.number8{
    grid-area: number8;
    border:1px solid #fff;
    position:relative;
    color:#fff;
    border-radius: 50px;
    background: transparent;
    cursor:pointer;
}

.number9{
    grid-area: number9;
    border:1px solid #fff;
    position:relative;
    color:#fff;
    border-radius: 50px;
    background: transparent;
    cursor:pointer;
}

.btnsomar{
    grid-area: btnsomar;
    border:1px solid #fff;
    position:relative;
    color:#fff;
    border-radius: 50px;
    background: transparent;
    cursor:pointer;
}

/****** Quinta linha ******/

.number0{
    grid-area: number0;
    border:1px solid #fff;
    position:relative;
    color:#fff;
    border-radius: 50px;
    background: transparent;
    cursor:pointer;
}

.btnvirgula{
    grid-area: btnvirgula;
    border:1px solid #fff;
    position:relative;
    color:#fff;
    border-radius: 50px;
    background: transparent;
    cursor:pointer;
}

.btnigual{
    grid-area: btnigual;
    border:1px solid #fff;
    position:relative;
    color:#fff;
    border-radius: 50px;
    background: transparent;
    cursor:pointer;
}